@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@100;400;600;700&display=swap');
@import url(left-section.css);
@import url(rigth-section.css);
@import url(footer.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.main-container{
    width: 950px;
    height: 600px;
    background-color: white;
    border-radius: 28px;
    display: flex;
}



@media screen and (max-width:1051px){
    .main-container{
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h1{
        text-align: center;
        width: 300px;
        position: absolute;
        top: -18%;
        left: 5%;
    }

    .rigth-section-wrap{
        position: relative;
    }
    
    hr{
        width: 330px;
    }

    .img-wrap-main{
        position: absolute;
        bottom: 53%;
        left: 16%;
        /* transform: translateX(50%); */
        scale:.5;
        transition: .5s;
    }

    .img-wrap-z-index{
        overflow: visible;
    }

    .img-woman{
        background-position: 50%;
        width: 472px;
    }

    .img-shadow{
        bottom: -25%;
        right: -50%;
        scale: .55;
    }


    .rigth-side{
        width: 100%;
        margin-left: 40px;
        scale: 0.9;
    }

    .arrow-icon{
        right: 0;
    }

    .active{
        bottom: 50%;
    }

    .active-click{
        bottom: 50%;
    }
}
