@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@100;400;600;700&display=swap');
@import url(left-section.css);
@import url(rigth-section.css);
@import url(footer.css);
@import url(media.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.main-container{
    width: 950px;
    height: 600px;
    background-color: white;
    border-radius: 28px;
    display: flex;
}

