.left-side{
    width: 50%;
    height: 100%;
}

/*************** inicio imagens ***************/

.bg-format{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-wrap-main{
    position: relative;
    height: 100%;
    left: 0;
    transition: left .2s;
}
.active{
    left: -5%;
}

.img-display{
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    height: 100%;
}

.img-box{
    background-image: url(../images/illustration-box-desktop.svg);
    width: 191px;
    height: 184px;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: -19.5%;
}

.img-woman{
    background-image: url(../images/illustration-woman-online-desktop.svg);
    background-position-x: 100%;
    width: 400px;
    height: 359px;
    position: absolute;
    z-index: 1;
}

.img-wrap-z-index{
    width: 475px;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.img-shadow{
    background-image: url(../images/bg-pattern-desktop.svg);
    width: 966px;
    height: 945px;
    position: absolute;
    z-index: 0;
    bottom: -15%;
    right: 15%;
}