@media screen and (max-width:1051px){
    .main-container{
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h1{
        text-align: center;
        width: 300px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    
    hr{
        width: 330px;
    }

    .img-wrap-main{
        bottom: 75px;
        left: -80px;
        scale:.5;
        transition: .5s;
    }

    .img-woman{
        background-position: 50%;
        width: 472px;
    }

    .rigth-side{
        width: 100%;
        margin-left: 40px;
        scale: 0.9;
    }

    .arrow-icon{
        right: 0;
    }

    .active{
        bottom: 60px;
    }

    .active-click{
        bottom: 60px;
    }
}